<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <%- include("partials/header") %>
    <title>行政院即時新聞閱讀器</title>
  </head>
  <body>
    <%- include("partials/nav") %>
    <div class="hero-section">
      <div class="hero-container">
        <h1 class="hero-title">
          此為串接行政院全球資訊網 OpenAPI 之極小型專案
        </h1>
        <p class="hero-desc">- N. Hsu 2025/05</p>
        <a
          class="hero-btn"
          href="https://github.com/noelnoelme/ExecutiveYuanNews-Reader-Project"
          target="_blank"
          >於 GitHub 了解如何運作</a
        >
      </div>
    </div>
  </body>
</html>
