<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <%- include("partials/header") %>
    <title>政府 API 閱讀器</title>
  </head>
  <body>
    <%- include("partials/nav") %>
    <div class="hero-section">
      <div class="hero-container">
        <h1 class="hero-title">此為串接政府OpenAPI之 Side Project</h1>
        <p class="hero-desc">- Noel Hsu 2025/05</p>
        <a
          class="hero-btn"
          href="https://github.com/noelnoelme/ExecutiveYuanNews-Reader-Project"
          target="_blank"
          >前往 GitHub 了解本專案</a
        >
      </div>
    </div>
  </body>
</html>
