<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <title>行政院即時新聞閱讀器</title>
  </head>
  <body>
    <%- include ("partials/nav") %>
    <h1>現在不能用啦...</h1>
  </body>
</html>
