<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <%- include ("partials/header") %>
    <title>便利貼</title>
  </head>
  <body>
    <%- include ("partials/nav") %>
    <main class="note-main">
      <%- include ("partials/message") %>
      <form action="/profile/post" method="POST" class="note-form">
        <div class="form-row">
          <label for="exampleforTitle">標題</label>
          <input
            name="title"
            type="text"
            class="input"
            id="exampleforTitle"
            required
          />
        </div>
        <div class="form-row">
          <label for="exampleforContent">內容</label>
          <textarea
            class="textarea"
            id="exampleforContent"
            name="content"
            rows="6"
            placeholder="注意! 此為公開專案，請勿留下個人敏感資訊或是不雅字眼。"
            required
          ></textarea>
        </div>
        <button type="submit" class="btn-main">確認送出</button>
      </form>
    </main>
  </body>
</html>
