<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <%- include ("partials/header") %>
    <title>註冊</title>
  </head>
  <body>
    <%- include ("partials/nav") %>
    <main class="signup-main">
      <form action="/auth/signup" method="POST" class="signup-form">
        <%- include ("partials/message") %>
        <div class="form-row">
          <label for="exampleUsername">使用者名稱</label>
          <input
            name="name"
            type="text"
            class="input"
            id="exampleUsername"
            required
          />
          <small class="note">請輸入姓名或是暱稱</small>
        </div>
        <div class="form-row">
          <label for="exampleInputEmail1">Email</label>
          <input
            type="email"
            class="input"
            id="exampleInputEmail1"
            placeholder="輸入email"
            name="email"
            required
          />
          <small class="note">我們絕對不會與任何第三方分享您的電子郵件</small>
        </div>
        <div class="form-row">
          <label for="exampleInputPassword1">密碼</label>
          <input
            type="password"
            class="input"
            id="exampleInputPassword1"
            placeholder="輸入密碼"
            name="password"
            required
          />
        </div>
        <button type="submit" class="btn-main">註冊</button>
      </form>
    </main>
  </body>
</html>
